header {
  border-bottom: solid 2px #ebebeb;
  margin-bottom: 2.4rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3rem;
  /* width: 90%; */
  max-width: 150rem;
  margin: 0 auto;
}

.logo {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}
.logo span {
  font-size: 4rem;
}

.add-offer-btn {
  font-size: 2rem;
  font-weight: 600;
  border: none;
  color: #222222;
  background-color: transparent;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.add-offer-btn:hover {
  cursor: pointer;
}

.note-icon {
  font-size: 3.6rem;
  background-color: transparent;
  color: #222222;
}

@media (max-width: 62.5rem) {
  .header-container {
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 44rem) {
  .add-offer-btn span {
    display: none;
  }

  .note-icon {
    font-size: 4.4rem;
  }
}
