.filter {
  outline: none;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: white;
  border: 1px solid #dddddd;
  color: #696969;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter:hover {
  cursor: pointer;
}

@media (max-width: 44rem) {
  .filter {
    font-size: 1.6rem;
    max-width: 13rem;
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    border-radius: 5px;
  }
}
