.tutors-container {
  width: 85%;
  max-width: 120rem;
  margin: auto;
}

h1 {
  font-size: 3rem;
  margin: 2.4rem 0 1.2rem;
  color: #222;
}

.tutors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.show-more {
  display: block;
  background-color: var(--color-primary);
  color: white;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  margin-top: 4.4rem;
  border: none;
  border-radius: 7px;
  margin: 4.4rem auto;
}

.show-more:hover {
  cursor: pointer;
  background-color: #cc2d4a;
}

.spinner {
  margin-top: 30vh;
  font-size: 10rem;
  color: var(--color-primary);
  animation: loading 0.5s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  margin-top: 30vh;
}

@media (max-width: 62.5rem) {
  .tutors-container {
    width: 95%;
  }
}

@media (max-width: 44rem) {
  .tutors-container {
    width: 80%;
  }

  h1 {
    margin: 1.2rem 0 0.8rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 35rem) {
  .tutors-container {
    width: 95%;
  }
}
